.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  box-shadow: 0px 4px 36px  var(--color-shadow);
  margin: 48px;
  border-radius: 36px;
}

.App-header {
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-foreground);
}

.App-link {
  color:  var(--color-foreground);;
}
